<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 网络权限：用于云同步、激活码验证等网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 网络状态检测：用于判断网络是否可用 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Android 13+ 通知权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="琥珀清单"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                the Android process has started. This theme is visible to the user
                while the Flutter UI initializes. After that, this theme continues
                to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

        <!-- [DEPRECATED] Impeller opt-out - Flutter will remove this option in future releases
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false"/>
        -->

        <!-- Home Screen Widget: Small (2x2) -->
        <receiver
            android:name=".widget.AmberWidgetProvider"
            android:exported="true"
            android:label="@string/widget_name_small">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.amber_list.TOGGLE_TASK" />
                <action android:name="com.example.amber_list.OPEN_APP" />
                <action android:name="com.example.amber_list.NEXT_PAGE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_small" />
        </receiver>

        <!-- RemoteViewsService for Small Widget StackView -->
        <service
            android:name=".widget.WidgetTaskService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Home Screen Widget: Medium (4x2) -->
        <receiver
            android:name=".widget.AmberWidgetMediumProvider"
            android:exported="true"
            android:label="@string/widget_name_medium">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.amber_list.TOGGLE_TASK" />
                <action android:name="com.example.amber_list.OPEN_APP" />
                <action android:name="com.example.amber_list.NEXT_PAGE_MEDIUM" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_medium" />
        </receiver>

        <!-- Home Screen Widget: Large (4x4) - Calendar Month View -->
        <receiver
            android:name=".widget.AmberWidgetLargeProvider"
            android:exported="true"
            android:label="@string/widget_name_large">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.amber_list.TOGGLE_TASK" />
                <action android:name="com.example.amber_list.OPEN_APP" />
                <action android:name="com.example.amber_list.PREV_MONTH" />
                <action android:name="com.example.amber_list.NEXT_MONTH" />
                <action android:name="com.example.amber_list.GO_TODAY" />
                <action android:name="com.example.amber_list.OPEN_DAY" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_large" />
        </receiver>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>